
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .form-control {
        border-radius: 0 !important;
    }
</style>

<div id="logreg-forms">
    <div class="row" style="background-color: #f6f7f8 !important;">
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                    <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Admin</li>
                </ol>
            </nav>
            <h4 style="padding-left: 15px;">Register Admin</h4>
        </div>
    </div>
    <div style="margin-top:20px;">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-cloak v-show="alertMessage" style="margin-top: 20px;">
            {{alertMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div v-cloak class="alert alert-danger alert-dismissible fade show" role="alert" v-show="alertFailureMessage" style="margin-top: 20px;">
            {{alertFailureMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertFailureMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="font-size:14px;">
                    <form>
                        <div class="form-group row">
                            <label class="col-md-3">Business Name</label>
                            <div class="col-md-9">
                                <input type="text" cv="required" class="form-control" v-model="user.BusinessName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3">User Name</label>
                            <div class="col-md-9">
                                <input type="text" cv="username" class="form-control" v-model="user.Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3">Password</label>
                            <div class="col-md-9">
                                <input type="password" id="password" class="form-control" v-model="user.Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3">Confirm Password</label>
                            <div class="col-md-9">
                                <input type="password" cv="confirmpassword" class="form-control" v-model="user.ConfirmPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3">Master Password</label>
                            <div class="col-md-9">
                                <input type="password" cv="required" class="form-control" v-model="user.MasterPassword">
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-3">
                            <button class="btn btn-success btn-sm" v-on:click="register()">Register</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var obj = {
            alertFailureMessage: "",
            alertMessage: "",
            user: {
                Name: "",
                Password: "",
                ConfirmPassword: "",
                MasterPassword: "",
                BusinessName: "",
                OwnerName:""
            }
        }
        new Vue({
            el: '#logreg-forms',
            data: obj,
            methods: {
                showLoginForm: function (value) {
                    this.isLogin = value;
                },
                register: function (e) {
                    var self = this;
                    var isFormValid = validation[0].isFormDataValid();
                    if (isFormValid == 0) {
                        var endPoint = "/Account/RegisterAdmin";

                        $.post(endPoint,
                            self.user,
                            function (res) {
                                if (res.Status === "Success")
                                    window.location.href = res.Link;
                                else
                                    self.alertMessage = res.Message;
                            }).fail(function (res) {
                                self.alertFailureMessage = res.Message;
                            });
                    }
                },
                closeAlertMessage: function (property) {
                    // set alert message to empty
                    this[property] = "";
                },
            },
            mounted() {
                validation[0].register();
            }
        });
    });
</script>
