
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
</style>

<div id="app">
    <div class="row" style="background-color: #f6f7f8 !important;">
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                    <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Admin</li>
                </ol>
            </nav>
            <h4 style="padding-left: 15px;">GST Accounts</h4>
        </div>
    </div>
    <div v-cloak style="margin-top:20px;">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-cloak v-show="alertMessage" style="margin-top: 20px;">
            {{alertMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div v-cloak class="alert alert-danger alert-dismissible fade show" role="alert" v-show="alertFailureMessage" style="margin-top: 20px;">
            {{alertFailureMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertFailureMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pb-3">
            <button type="button" class="btn btn-success btn-sm" v-on:click="openModalForRegisterUser()">Add New GST Account</button>
        </div>
        <div class="col-md-12 pt-3" style="background-color:white;">
            <table style="font-size: 0.85em; color: #6c757d !important;" class="table table-bordered table-sm">
                <tr>
                    <th class="text-center">User Name</th>
                    <th class="text-center">Password</th>
                    <th class="text-center">Business Name</th>
                    <th class="text-center">GSTIN</th>
                    <th class="text-center">Enable stock count</th>
                    <th class="text-center">Owner</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Mobile Number</th>
                    <th class="text-center">Address</th>
                </tr>
                <tr v-for="(user,index) in users">
                    <td class="text-center">{{user.Name}}</td>
                    <td class="text-center">{{user.Password}}</td>
                    <td class="text-center">{{user.BusinessName}}</td>
                    <td class="text-center">{{user.GSTIN}}</td>
                    <td class="text-center">{{user.EnableStockCount === true ? 'Yes' : 'No'}}</td>
                    <td class="text-center">{{user.Owner}}</td>
                    <td class="text-center">{{user.Email}}</td>
                    <td class="text-center">{{user.MobileNumber}}</td>
                    <td class="text-center">{{user.Address}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New GST Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="padding-left:75px;">
                    <form>
                        <div class="form-group row">
                            <label class="col-md-4">User Name</label>
                            <div class="col-md-6">
                                <input type="text" cv="username" class="form-control form-control-sm" v-model="User.Name">
                                <small class="form-text text-muted">space is not allowed. special character (- and _) is only allowed</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Password</label>
                            <div class="col-md-6">
                                <input type="password" id="password" class="form-control form-control-sm" v-model="User.Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Confirm Password</label>
                            <div class="col-md-6">
                                <input type="password" cv="confirmpassword" class="form-control form-control-sm" v-model="User.ConfirmPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Business Name</label>
                            <div class="col-md-6">
                                <input type="text" cv="required" class="form-control" v-model="User.BusinessName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Owner</label>
                            <div class="col-md-6">
                                <input type="text" cv="required" class="form-control" v-model="User.Owner">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">GSTIN</label>
                            <div class="col-md-6">
                                <input class="form-control text-uppercase" cv="gstin" placeholder="22AAAAA5330A5Z5" v-model="User.GSTIN">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">State</label>
                            <div class="col-md-6">
                                <select class="form-control" v-model="stateObj">
                                    <option v-for="option in validation[0].getGSTStateCode()" v-bind:value="{id:option.Code, name: option.Name}">{{ option.Name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">State code</label>
                            <div class="col-md-6">
                                <input class="form-control" readonly v-model="User.StateCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Mobile No.</label>
                            <div class="col-md-6">
                                <input type="number" cv="phone" class="form-control" v-model="User.MobileNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Email</label>
                            <div class="col-md-6">
                                <input type="email" cv="email" class="form-control" v-model="User.Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Address</label>
                            <div class="col-md-6">
                                <textarea cv="required" class="form-control" v-model="User.Address"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="form-check offset-4" style="padding-left:15px;">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success btn-sm">
                                        <input type="radio" v-on:click="check(true)"> Activate Stock Count
                                    </label>
                                    <label class="btn btn-outline-success btn-sm active">
                                        <input type="radio" checked v-on:click="check(false)"> Deactivate Stock Count
                                    </label>
                                    <span style="padding-left:10px;">
                                        <i class="fa fa-info-circle fa-lg" data-toggle="tooltip" title="a check of how much item/product a store or company has at a particular time"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" v-on:click="register()">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        var obj = {
            alertFailureMessage: "",
            alertMessage: "",
            stateObj: { id: 29, name: "KARNATAKA"},
            User: {
                Name: "",
                Password: "",
                ConfirmPassword: "",
                BusinessName: "",
                Owner: "",
                GSTIN: "",
                MobileNumber: "",
                Email: "",
                Address: "",
                StateCode: 29,
                State:"",
                EnableStockCount: false
            },
            users: []
        }
        new Vue({
            el: '#app',
            data: obj,
            methods: {
                check: function (value) {
                    this.User.EnableStockCount = value;
                },
                openModalForRegisterUser: function () {
                    $("#myModal").modal({ backdrop: 'static', keyboard: false, show: true });
                },
                showLoginForm: function (value) {
                    this.isLogin = value;
                },
                register: function (e) {
                    var self = this;
                    var validate = validation[0].isFormDataValid();
                    if (validate < 1) {
                        self.User.State = self.stateObj.name;
                        self.User.StateCode = self.stateObj.id;
                        var endPoint = "/Account/Register";
                        $.post(endPoint,
                            self.User,
                            function (res) {
                                $("#myModal").modal("hide");
                                self.alertMessage = res.Message;
                                self.getUsers();
                            }).fail(function (res) {
                                self.alertFailureMessage = res.Message;
                            });
                    }
                },
                closeAlertMessage: function (property) {
                    // set alert message to empty
                    this[property] = "";
                },
                getUsers: function () {
                    var self = this;
                    $.get("/Account/Users", function (res) {
                        self.users = res;
                    })
                }
            },
            mounted() {
                this.getUsers();
                validation[0].register();
            }
        });
    });
</script>
