
@{
    ViewBag.Title = "New";
}
<style>
    [v-cloak] {
        display: none;
    }
</style>
<div id="app" v-cloak>
    <div class="row d-print-none" style="background-color: #f6f7f8 !important;">
        <div class="col-md-7">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                    <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </nav>
            <h4 style="padding-left: 15px;">Profile</h4>
        </div>
    </div>
    <div style="margin-top:20px;">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-cloak v-show="alertMessage" style="margin-top: 20px;">
            {{alertMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div v-cloak class="alert alert-danger alert-dismissible fade show" role="alert" v-show="alertFailureMessage" style="margin-top: 20px;">
            {{alertFailureMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertFailureMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card justify-content-center">
                <div class="card-header">
                    Edit Profile
                </div>
                <div class="card-body" style="font-size:14px; padding-left:40px;">
                    <div style="max-height:250px; overflow-y:scroll; overflow-x:hidden">
                        <div class="form-group row">
                            <label class="col-md-4">Business Name</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" v-model="BusinessName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Owner</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" v-model="Owner">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">GSTIN</label>
                            <div class="col-md-7">
                                <input readonly customValidation="gstin" class="form-control" v-model="GSTIN">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Mobile No.</label>
                            <div class="col-md-7">
                                <input type="number" customValidation="phone" class="form-control" v-model="MobileNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Email</label>
                            <div class="col-md-7">
                                <input type="email" class="form-control" v-model="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Bank</label>
                            <div class="col-md-7">
                                <input placeholder="SBI,HDFC etc" class="form-control" v-model="Bank">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Account Number</label>
                            <div class="col-md-7">
                                <input type="email" class="form-control" v-model="AccountNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">IFSC code</label>
                            <div class="col-md-7">
                                <input type="email" class="form-control" v-model="IfscCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Branch</label>
                            <div class="col-md-7">
                                <input type="email" class="form-control" v-model="Branch">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Address</label>
                            <div class="col-md-7">
                                <textarea class="form-control" v-model="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-md-2 offset-10" style="right:30px;">
                            <button class="btn btn-success btn-sm" v-on:click="saveProfile()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var obj = {
            alertFailureMessage: "",
            alertMessage: "",
            BusinessName: "",
            Owner: "",
            GSTIN: "",
            MobileNumber: "",
            Email: "",
            Address: "",
            Id: 0,
            Branch: "",
            IfscCode: "",
            Bank: "",
            AccountNumber:""
        }
        new Vue({
            el: '#app',
            data: obj,
            methods: {
                saveProfile: function (e) {
                    var self = this;
                    var endPoint = this.Id > 0 ? "/Profile/Edit" : "/Profile/Save";
                    var formData = {
                        BusinessName: this.BusinessName,
                        Owner: this.Owner,
                        GSTIN: this.GSTIN,
                        MobileNumber: this.MobileNumber,
                        Email: this.Email,
                        Address: this.Address,
                        Id: this.Id,
                        AccountNumber: this.AccountNumber,
                        Bank: this.Bank,
                        Branch: this.Branch,
                        IfscCode: this.IfscCode
                    }
                    $.post(endPoint,
                        formData,
                        function (res) {
                            self.Id = res.Id;
                            self.alertMessage = res.Message;
                            $(".navbar-brand").text(self.BusinessName);
                            $(".user-name").text(self.Owner);
                        }).fail(function (res) {
                            self.alertFailureMessage = res;
                        });
                },
                closeAlertMessage: function (property) {
                    // set alert message to empty
                    this[property] = "";
                },
            },
            computed: {
            },
            mounted() {
                $(".nav-link-profile").addClass("active");
                var self = this;
                $.get("/Profile/Get",
                    function (res) {
                        console.log(res);
                        if (res) {
                            self.BusinessName = res.BusinessName;
                            self.Owner = res.Owner;
                            self.GSTIN = res.GSTIN;
                            self.MobileNumber = res.MobileNumber;
                            self.Email = res.Email;
                            self.Address = res.Address;
                            self.Id = res.Id;
                            self.IfscCode = res.IfscCode;
                            self.Bank = res.Bank;
                            self.Branch = res.Branch;
                            self.AccountNumber = res.AccountNumber;
                        }
                    }).fail(function () {
                        self.alertFailureMessage = "Internal server error";
                    });
            }
        });
    });
</script>
<script src="~/Scripts/customValidation.js"></script>