@{
    ViewBag.Title = "New";
}
<style type="text/css">
    @@page {
        size: auto;
        margin: 0mm;
    }
</style>
<div class="row" style="background-color: #f6f7f8 !important;">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Billing</li>
            </ol>
        </nav>
        <h4 style="padding-left: 15px;">New Bill</h4>
    </div>
</div>
<div class="container" style="padding-top: 20px;">
    <div id="print-bill" class="card" style="font-size: 0.85em; color: rgb(108, 117, 125) !important;">
        <div class="card-header text-center"><strong class="text-center">Tax Invoice</strong></div>
        <d
      <div class="card-body">
         <div class="row mb-4">
            <div class="col-sm-4">
               <table class="table-bordered" style="width: 100%;">
                  <tbody>
                     <tr>
                        <th colspan="2">Demo Business</th>
                     </tr>
                     <tr>
                        <td colspan="2">#101 kr puram bangalore 560036</td>
                     </tr>
                     <tr>
                        <td>GSTIN/UIN:</td>
                        <td>2820942094</td>
                     </tr>
                     <tr>
                        <td>Email:</td>
                        <td>ram@test.com</td>
                     </tr>
                     <tr>
                        <td>Phone:</td>
                        <td>87930390345</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-sm-4">
               <table class="table-bordered" style="width: 100%;">
                  <tbody>
                     <tr>
                        <td colspan="2">Buyer</td>
                     </tr>
                     <tr>
                        <th colspan="2">rakesh</th>
                     </tr>
                     <tr>
                        <td colspan="2">28424209</td>
                     </tr>
                     <tr>
                        <td>GSTIN/UIN:</td>
                        <td>28424209</td>
                     </tr>
                     <tr>
                        <td>Phone:</td>
                        <td>8792092047</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-sm-4">
               <table class="table-bordered" style="width: 100%;">
                  <tbody>
                     <tr>
                        <th>Date:</th>
                        <td>10-10-2019</td>
                     </tr>
                     <tr>
                        <th>Invoice:</th>
                        <td>A-541</td>
                     </tr>
                     <tr>
                        <th>Dispatched Vehicle No.</th>
                        <td>
                        </td>
                     </tr>
                     <tr>
                        <th>Dispatched Reference(s):</th>
                        <td>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="table-responsive-sm">
            <table class="table table-sm" style="color: rgb(108, 117, 125) !important;">
               <thead>
                  <tr>
                     <th scope="col" style="width: 45px;">#</th>
                     <th scope="col" style="width: 200px;">Product</th>
                     <th scope="col">HSN/SAC</th>
                     <th scope="col">GST Rate</th>
                     <th scope="col">Quantity</th>
                     <th scope="col">Rate</th>
                     <th scope="col">Discount %</th>
                     <th scope="col">Amount</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td class="center">1</td>
                     <td class="left strong" style="width: 200px;">Pro-1</td>
                     <td class="right">HSN-002</td>
                     <td class="right">10%</td>
                     <td class="center">1</td>
                     <td class="right">3,446</td>
                     <td class="center">37</td>
                     <td class="center">2,170.98</td>
                  </tr>
                  <tr>
                     <td class="center">2</td>
                     <td class="left strong" style="width: 200px;">Pro-662</td>
                     <td class="right">HSN-662</td>
                     <td class="right">18%</td>
                     <td class="center">1</td>
                     <td class="right">992</td>
                     <td class="center">5</td>
                     <td class="center">942.4</td>
                  </tr>
                  <tr>
                     <td class="center">3</td>
                     <td class="left strong" style="width: 200px;">Pro-671</td>
                     <td class="right">HSN-671</td>
                     <td class="right">10%</td>
                     <td class="center">1</td>
                     <td class="right">4</td>
                     <td class="center">32</td>
                     <td class="center">2.72</td>
                  </tr>
                  <tr>
                     <td class="center">4</td>
                     <td class="left strong" style="width: 200px;">Pro-789</td>
                     <td class="right">HSN-789</td>
                     <td class="right">10%</td>
                     <td class="center">1</td>
                     <td class="right">3,633</td>
                     <td class="center">37</td>
                     <td class="center">2,288.79</td>
                  </tr>
                   @* Sub total and GST tax*@
                  <tr>
                      <td colspan="7"></td>
                      <td><strong>3742429.00</strong></td>
                  </tr>
                    <tr>
                    <td colspan="4"></td>
                    <td style="text-align:center" colspan="3"><strong>SGST@@9%</strong></td>
                    <td>673839</td>
                    </tr>
               </tbody>
            </table>
         </div>
         <hr>
         <div class="row">
            <div class="col-lg-4 col-sm-4 ml-auto">
               <table class="table table-bordered table-sm" style="font-size: 0.85em; color: rgb(108, 117, 125) !important;">
                  <tbody>
                     <tr>
                        <th colspan="2" class="text-center">State Tax</th>
                     </tr>
                     <tr>
                        <th class="text-center">
                           5%
                        </th>
                        <td>223.13</td>
                     </tr>
                     <tr>
                        <th class="text-center">
                           9%
                        </th>
                        <td>84.82</td>
                     </tr>
                     <tr>
                        <th class="text-center">
                           Total
                        </th>
                        <th>307.95</th>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-lg-4 col-sm-4 ml-auto" style="color: rgb(108, 117, 125) !important;">
               <table class="table table-bordered table-sm" style="font-size: 0.85em; color: rgb(108, 117, 125) !important;">
                  <tbody>
                     <tr>
                        <th colspan="2" class="text-center">Central Tax</th>
                     </tr>
                     <tr>
                        <th class="text-center">
                           5%
                        </th>
                        <td>223.13</td>
                     </tr>
                     <tr>
                        <th class="text-center">
                           9%
                        </th>
                        <td>84.82</td>
                     </tr>
                     <tr>
                        <th class="text-center">
                           Total
                        </th>
                        <th>307.95</th>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-lg-4 col-sm-4 ml-auto">
               <table class="table table-bordered table-sm" style="font-size: 0.85em; color: rgb(108, 117, 125) !important;">
                  <tbody>
                     <tr>
                        <th>
                           Sub Total
                        </th>
                        <td>5,404.89</td>
                     </tr>
                     <tr>
                        <th>
                           Tax
                        </th>
                        <td>615.9</td>
                     </tr>
                     <tr>
                        <th>
                           Round Off
                        </th>
                        <td>0.21</td>
                     </tr>
                     <tr>
                        <th>
                           Total
                        </th>
                        <th>6,021</th>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12"><span>
               Amount (in words) &nbsp;
               <strong><i class="fa fa-inr"></i>
               Six Thousand Twenty One  Only
               </strong></span>
            </div>
         </div>
         <hr class="mb-0">
         <div class="row">
            <div class="col-md-6 col-sm-6">
               <div><strong>Declaration</strong></div>
               <div>
                  We declare that this Invoice shows the actual price of the goods
                  described and that all particulars are true and correct
               </div>
            </div>
            <div class="col-md-6 col-sm-6">
               <div><strong class="pull-right">for Demo Business</strong></div>
               <div style="padding-top: 35px;"><span class="pull-right">
                  Authorised Signatory
                  </span>
               </div>
            </div>
         </div>
         <hr class="mt-0 mb-0">
         <div class="col-md-6 offset-4">
            This is a Computer Generated Invoice.
         </div>
      </div>
    </div>
</div>