@{
    ViewBag.Title = "New";
}
<style type="text/css">

    .border {
        border: 3px solid #000000a3 !important;
    }

    .border-right {
        border-right: 2px solid #000000a3 !important;
    }

    .border-top {
        border-top: 2px solid #000000a3 !important;
    }

    .border-bottom {
        border-bottom: 2px solid #000000a3 !important;
    }

    .border-left {
        border-left: 2px solid #000000a3 !important;
    }

    .hide {
        display: none;
    }

    [v-cloak] {
        display: none;
    }

    .bg-grey {
        background-color: #eee;
    }

    .custom-options {
        cursor:pointer !important;
        border:2px solid #aaa !important;
    }
   
</style>
<div class="row" style="background-color: #f6f7f8 !important;">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Billing</li>
            </ol>
        </nav>
        <h4 style="padding-left: 15px;">New Bill</h4>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="custom-select-rmb">
                <input type="text" data-index="11" class="form-control" placeholder="Search">
                <ul class="list-group">
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="custom-select-rmb">
                <input type="text" data-index="10" class="form-control" placeholder="Search">
                <ul class="list-group"></ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="custom-select-rmb">
                <input type="text" class="form-control" placeholder="Search">
                <ul class="list-group"></ul>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>
<script>
    $(document).ready(function () {
        var obj = {
            ele: ".custom-select-rmb", endPoint: "/item/GetDataBySearch", prop: "Name", callback: function (ele,value) {
                confirm(ele.attr("data-index"))
            }
        };
        selectSearchEvent(obj);
    });
</script>