@{
    ViewBag.Title = "New";
}
<style type="text/css">

    .border {
        border: 3px solid #000000a3 !important;
    }

    .border-right {
        border-right: 2px solid #000000a3 !important;
    }

    .border-top {
        border-top: 2px solid #000000a3 !important;
    }

    .border-bottom {
        border-bottom: 2px solid #000000a3 !important;
    }

    .border-left {
        border-left: 2px solid #000000a3 !important;
    }

    .hide {
        display: none;
    }

    [v-cloak] {
        display: none;
    }

    .bg-grey {
        background-color: #eee;
    }
   
</style>
<div class="row" style="background-color: #f6f7f8 !important;">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Billing</li>
            </ol>
        </nav>
        <h4 style="padding-left: 15px;">New Bill</h4>
    </div>
</div>
<div>
    <div id="print-bill" style="border: none;">
            <div class="row">
                <div class="col-sm-4 border-right border-top border-left border-bottom A4pb"><table class="table-borderless" style="width: 100%;"><tbody><tr><th colspan="2">ram</th></tr> <tr><td colspan="2">kr puram</td></tr> <tr><td>GSTIN/UIN:</td> <td>22aaaaa5330a1z5</td></tr> <tr><td>Email:</td> <td>ram@test.com</td></tr> <tr><td>Phone:</td> <td>8792092047</td></tr></tbody></table></div> <div class="col-sm-4 border-right border-top border-bottom"><table class="table-borderless" style="width: 100%;"><tbody><tr><td colspan="2">Buyer</td></tr> <tr><th colspan="2">asian paint</th></tr> <tr><td colspan="2"></td></tr> <tr><td>GSTIN/UIN:</td> <td>22AAAAA5330A2Z7</td></tr> <tr><td>Phone:</td> <td>9999955555</td></tr></tbody></table></div> <div class="col-sm-4 border-bottom border-right border-top">
                    <table class="table-borderless" style="width: 100%;">
                        <tbody>
                            <tr><th>Date:</th> <td>01-04-2020</td></tr>
                            <tr><th>Invoice:</th> <td>A-1</td></tr>
                            <tr>
                                <th>Dispatched Vehicle No.</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Dispatched Reference(s):</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="col-md-12 pr-0 pl-0">
                    <div class="table-responsive-sm">
                        <table class="table table-custom table-borderless table-sm mb-0 A4h">
                            <thead><tr style="height: 23px;"><th scope="col" class="border-right border-bottom border-left text-center A4w45">#</th> <th scope="col" class="border-right border-bottom text-center A4w400">Description of Goods</th> <th scope="col" class="border-right border-bottom text-center">HSN/SAC</th> <th scope="col" class="border-right border-bottom text-center">GST Rate</th> <th scope="col" class="border-right border-bottom text-center">Quantity</th> <th scope="col" class="border-right border-bottom text-center">Rate</th> <th scope="col" class="border-right border-bottom text-center">per</th> <th scope="col" class="border-right border-bottom text-center">Disc %</th> <th scope="col" class="border-bottom text-center border-right">Amount</th></tr></thead>
                            <tbody>
                                <tr style="height: 23px;"><td class="text-center border-left border-right A4w45">1</td> <td class="left strong border-right A4w400" style="padding-left: 10px !important;">I-1</td> <td class="border-right text-center">100</td> <td class="text-center border-right">20%</td> <td class="border-right text-center">1</td> <td class="border-right text-center">1,000.00</td> <td class="border-right text-center">Number</td> <td class="border-right text-center">10%</td> <td class="text-right text-center border-right">900.00</td></tr>
                                <tr style="height: 23px;"><td class="text-center border-left border-right A4w45">2</td> <td class="left strong border-right A4w400" style="padding-left: 10px !important;">I-2</td> <td class="border-right text-center">687</td> <td class="text-center border-right">20%</td> <td class="border-right text-center">1</td> <td class="border-right text-center">5,000.00</td> <td class="border-right text-center">Number</td> <td class="border-right text-center">10%</td> <td class="text-right text-center border-right">4,500.00</td></tr>
                                <tr style="height: 23px;"><td class="text-center border-left border-right A4w45">3</td> <td class="left strong border-right A4w400" style="padding-left: 10px !important;">I-3</td> <td class="border-right text-center">768</td> <td class="text-center border-right">20%</td> <td class="border-right text-center">1</td> <td class="border-right text-center">1,000.00</td> <td class="border-right text-center">Number</td> <td class="border-right text-center">10%</td> <td class="text-right text-center border-right">900.00</td></tr>
                                <tr style="height: 23px;"><td class="border-right border-left"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="text-center border-right border-top"><strong>6,300.00</strong></td></tr>
                                <tr style="height: 23px;"><td class="center border-left border-right"></td> <td class="text-center border-right"><strong>Output &nbsp; SGST@10%</strong></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="text-center border-right">630.00</td></tr>
                                <tr style="height: 23px;"><td class="center border-left border-right"></td> <td class="text-center border-right"><strong>Output &nbsp; CGST@10%</strong></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="text-center border-right">630.00</td></tr>
                                <tr style="height: 23px;"><td class="center border-left border-right"></td> <td class="text-center border-right"><strong>Round Off</strong></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="border-right"></td> <td class="text-center border-right">0.00</td></tr>
                                <tr style="height: 23px;">
                                    <td class="center border-left border-right border-top border-bottom"></td>
                                    <td class="text-center border-right border-top border-bottom"><strong>Total</strong></td>
                                    <td class="border-right border-top border-bottom"></td>
                                    <td class="border-right border-top border-bottom"></td>
                                    <td class="text-center border-right border-top border-bottom">
                                        <strong>
                                            3
                                        </strong>
                                    </td>
                                    <td class="border-right border-top border-bottom"></td>
                                    <td class="border-right border-top border-bottom"></td>
                                    <td class="border-right border-top border-bottom"></td>
                                    <td class="text-center border-top border-bottom border-right">
                                        <strong>
                                            <i class="fa fa-inr"></i>
                                            7,560.00
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <div class="col-md-12 pt-2 pb-2 border-left border-bottom border-right border-bottom">
                    <span>
                        Amount (in words) &nbsp;
                        <strong>
                            <i class="fa fa-inr"></i>
                            Seven Thousand Five Hundred Sixty  Only
                        </strong>
                    </span>
                </div> <div class="col-md-6 col-sm-6 border-left border-bottom">
                    <div><strong>Declaration</strong></div> <div>
                        We declare that this Invoice shows the actual price of the goods
                        described and that all particulars are true and correct
                    </div>
                </div> <div class="col-md-6 col-sm-6 border-right border-bottom">
                    <div><strong class="pull-right">for ram</strong></div> <div style="padding-top: 35px;">
                        <span class="pull-right">
                            Authorised Signatory
                        </span>
                    </div>
                </div>
            </div> <div class="col-md-6 offset-4">
                This is a Computer Generated Invoice.
            </div>
    </div>
</div>
