
@{
    ViewBag.Title = "Items";
}

<style>
    .pointer {
        cursor: pointer;
    }
    .hide {
        display: none;
    }
    [v-cloak] {
        display: none;
    }
    .table-head, .table-body .table-row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    @@media only screen and (min-width: 768px) {
        .table-body {
            display: block;
            height: 250PX;
            overflow-y: scroll;
        }
    }

    @@media only screen and (min-width: 992px) {
        .table-body {
            display: block;
            height: 200px;
            overflow-y: scroll;
        }
    }

    @@media only screen and (min-width: 1500px) {
        .table-body {
            display: block;
            max-height: 500px;
            overflow-y: scroll;
        }
    }
</style>

<div id="app">
<div class="row" style="background-color: #f6f7f8 !important;">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
        <h4 style="padding-left: 15px;">Products</h4>
    </div>
    <div class="col-md-4">
        <button style="margin-top:25px; float:right;  margin-right:10px;" type="button" class="btn btn-success btn-sm" v-on:click="openModalForAddProduct()">Add New Product</button>
    </div>
</div>
<div  style="margin-top:20px;">
    <div class="alert alert-success alert-dismissible fade show" role="alert" v-cloak v-bind:class="{hide:!alertMessage}" style="margin-top: 20px;">
        {{alertMessage}}
        <button type="button" class="close" v-on:click="closeAlertMessage('alertMessage')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div v-cloak class="alert alert-danger alert-dismissible fade show" role="alert" v-bind:class="{hide:!alertFailureMessage}" style="margin-top: 20px;">
        {{alertFailureMessage}}
        <button type="button" class="close" v-on:click="closeAlertMessage('alertFailureMessage')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card">
        <div class="card-body" style="font-size:14px;">
            <table id="product-table"
                   class="table text-secondary" style="font-size:14px;">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>HSN/SAC</th>
                        <th>Measuring Unit</th>
                        <th>Quantity Available</th>
                        <th>Quantity Sold</th>
                        <th>SGST (%)</th>
                        <th>CGST (%)</th>
                        <th>Discount %</th>
                        <th>List Price</th>
                        <th>Discount Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input v-model="item.Name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">HSN/SAC</label>
                            <div class="col-sm-10">
                                <input v-model="item.HSN" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Measuring Unit</label>
                            <div class="col-sm-10">
                                <input v-model="item.MeasuringUnit" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Quantity Available</label>
                            <div class="col-sm-10">
                                <input readonly v-model="item.Quantity" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Add Quantity</label>
                            <div class="col-sm-10">
                                <input v-model="item.QuantityAdded" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">CGST</label>
                            <div class="col-sm-10">
                                <input v-model="item.CGST" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">SGST</label>
                            <div class="col-sm-10">
                                <input v-model="item.SGST" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Discount %</label>
                            <div class="col-sm-10">
                                <input v-model="item.Discount" v-on:keyup="calculateEditItemDiscount()" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">List Price</label>
                            <div class="col-sm-10">
                                <input v-model="item.Price" v-on:keyup="calculateEditItemDiscount()" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Discount Price</label>
                            <div class="col-sm-10">
                                <input readonly v-model="item.DiscountPrice" type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click="saveEditItem()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="add-product">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Products</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    
                    <table class="table text-secondary" style="font-size: 14px;">
                        <thead class="thead-light table-head">
                            <tr class="table-row">
                                <th style="width: 45px" scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">HSN/SAC</th>
                                <th scope="col">Measuring Unit</th>
                                <th scope="col">Quantity Available</th>
                                <th scope="col">SGST (%)</th>
                                <th scope="col">CGST (%)</th>
                                <th scope="col">Discount %</th>
                                <th scope="col">List Price</th>
                                <th scope="col">Discount Price</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr class="table-row" v-for="(item,index) in newItems">
                                <td style="width: 45px">{{index+1}}</td>
                                <td> <input type="text" v-model="item.Name" class="form-control form-control-sm"></td>
                                <td> <input type="text" v-model="item.HSN" class="form-control form-control-sm"></td>
                                <td> <input type="text" v-model="item.MeasuringUnit" class="form-control form-control-sm"></td>
                                <td> <input type="number" v-model="item.Quantity" class="form-control form-control-sm"></td>
                                <td> <input type="number" v-model="item.SGST" class="form-control form-control-sm"></td>
                                <td> <input type="number" v-model="item.CGST" class="form-control form-control-sm"></td>
                                <td> <input type="number" step=".01" v-model="item.Discount" v-on:keyup="calculatePerItemDiscount(index)" class="form-control form-control-sm"></td>
                                <td> <input type="number" v-model="item.Price" v-on:keyup="calculatePerItemDiscount(index)" class="form-control form-control-sm"></td>
                                <td> <input type="number" readonly v-model="item.DiscountPrice" class="form-control form-control-sm"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="saveNewProduct()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>

    $(document).ready(function() {

        function addEmptyNewItems() {
            var result = [];
            for (var i = 0; i < 20; i++) {
                result.push({
                    Name: "",
                    Price: "",
                    CGST: "",
                    SGST: "",
                    Discount: "",
                    Quantity: "",
                    MeasuringUnit: "",
                    DiscountPrice: "",
                    HSN: ""
                });
            }
            return result;
        }

        var obj = {
            items: [],
            item: {},
            alertFailureMessage: "",
            alertMessage: "",
            newItems: addEmptyNewItems(),
            tableRef: null
        }

        new Vue({
            el: '#app',
            data: obj,
            methods: {
                calculatePerItemDiscount: function(index) {
                    var currentItem = this.newItems[index];
                    this.calculateDiscount(currentItem);
                },
                calculateDiscount: function (currentItem) {
                    if (currentItem.Discount) {

                        currentItem.DiscountPrice =
                            currentItem.Price - ((currentItem.Discount / 100) * currentItem.Price);
                    } else {
                        currentItem.DiscountPrice = currentItem.Price;
                    }
                },
                calculateEditItemDiscount: function () {
                    this.calculateDiscount(this.item);
                },
                deleteItem: function(id) {
                    var self = this;
                    self.isSpinner = true
                    $.get("/item/RemoveItem?id=" + id,
                        function() {
                            self.alertMessage = "Item deleted succesfully";
                            self.tableRef.ajax.reload(self.bindTableClickEvents);
                        }).fail(function() {
                        self.alertFailureMessage = "Internal server error";
                    });
                },
                openModalForAddProduct: function() {
                    $("#add-product").modal("show");
                },
                saveNewProduct: function() {
                    var self = this;
                    var validData = [];
                    self.newItems.forEach(function(data) {
                        if (data.Name && data.Price && data.CGST && data.SGST && data.Quantity && data.MeasuringUnit)
                            validData.push(data);
                    });

                    if (validData.length) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("AddItems", "Item")',
                            data: JSON.stringify(validData),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function() {
                                self.alertMessage =
                                    `${validData.length} Product Added succesfully. ${30 - validData.length
                                    } Product were left empty`;
                                self.newItems = addEmptyNewItems();
                                self.tableRef.ajax.reload(self.bindTableClickEvents);
                            }
                        });
                    } else {
                        self.alertFailureMessage = "30 off 30 invalid Product record were found";
                    }

                },
                saveEditItem: function() {
                    var self = this;
                    if (self.item) {
                        if (Number.isInteger(parseInt(self.item.QuantityAdded)))
                            self.item.Quantity += parseInt(self.item.QuantityAdded);
                        $.post("/item/EditItem",
                            self.item,
                            function(data) {
                                self.alertMessage = "Item Edited succesfully";
                                self.tableRef.ajax.reload(self.bindTableClickEvents);
                            }).fail(function() {
                            self.alertFailureMessage = "Internal server error";
                        });
                    }
                },
                getProductById: function(id) {
                    var self = this;
                    $.get(`/item/GetDataById/${id}`,
                        function(data, status) {
                            self.item = data;
                            self.item.QuantityAdded = "";
                            $("#myModal").modal("show");
                        }).fail(function() {
                        self.alertFailureMessage = "Internal server error";
                    });
                },
                bindTableClickEvents: function() {
                    var self = this;
                    $(".edit-item").click(function(e) {
                        var id = $(this).attr("data-id");
                        self.getProductById(id);
                    });

                    $(".delete-item").click(function(e) {
                        var id = $(this).attr("data-id");
                        self.deleteItem(id);
                    });

                },
                closeAlertMessage: function(property) {
                    // set alert message to empty
                    this[property] = "";
                },
                getTableData: function() {
                    var self = this;
                    self.tableRef = $("#product-table").DataTable({
                        ajax: {
                            url: "/item/GetData",
                            type: "GET",
                            dataSrc: function(json) {
                                return json;
                            },
                            error: function(xhr, error) {
                                if (xhr.status === 401) alert("Unauthorised user");
                            }
                        },
                        fixedHeader: {
                            header: true,
                            footer: true
                        },
                        columns: [
                            { data: "Name" },
                            { data: "HSN" },
                            { data: "MeasuringUnit" },
                            { data: "Quantity" },
                            { data: "SoldQuantity" },
                            { data: "SGST" },
                            { data: "CGST" },
                            { data: "Discount" },
                            { data: "Price" },
                            { data: "DiscountPrice" },
                            {
                                render: function(data, type, row, meta) {
                                    return `<i class="fa fa-edit pointer edit-item" data-id=${row.Id}></i>`;

                                }
                            },
                            {
                                render: function(data, type, row, meta) {
                                    return `<i class="fa fa-trash pointer delete-item" data-id=${row.Id}></i>`;
                                }
                            }
                        ],
                        lengthMenu: [[5, 20, 25, 30, 100], [5, 20, 25, 30, 100]],
                        initComplete: function(settings, json) {
                            self.bindTableClickEvents();
                        }
                    });
                }
            },
            mounted() {
                $(".nav-link-item").addClass("active");
                this.getTableData();
            }
        });
    });
</script>