<div class="row d-flex justify-content-center pt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center">You don't have permission to access the application.</div>
                <div class="text-center">Please contact Admin to grant the permission</div>
                <div class="text-center">Contact: <strong>+91 8792092045, +91 8792092046, +91 8792092047</strong></div>
            </div>
        </div>
    </div>
</div>
