<div class="row d-flex justify-content-center pt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center"> Oops something went wrong. Please try after sometime</div>
            </div>
        </div>
    </div>
</div>
