<div class="card mt-4">
    <div class="card-body">
        <div>You don't have permission to access the application.</div> 
        <div>Please contact Admin to grant the permission</div>
        <div>Contact: <strong>+91 8792092045, +91 8792092046, +91 8792092047</strong></div>
    </div>
</div>