<div class="card mt-4">
    <div class="card-body">
        <div>Free trial period of 3 months is expired.</div>
        <div>Please contact the Admin to renewal the license</div>
        <div>Contact: <strong>+91 8792092045, +91 8792092046, +91 8792092047</strong></div>
    </div>
</div>